# Ignore real env files
**/.env
**/.env.*
 

# But DO NOT ignore the example files
!**/.env.example

# Node
node_modules/
dist/
build/

# Logs
*.log

# Docker volumes (optional)
docker-volume/

# Editor / OS
.vscode/
.DS_Store